@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  font-family: 'Tajawal', sans-serif;
  font-weight: 500;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @keyframes slide-x {

    0%,
    100% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(-10px);
    }
  }

  .animate-slide-x {
    animation: slide-x 1.5s ease-in-out infinite;
  }
}